# Python & Sanal Ortam
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Orijinal ve Çoğaltılmış Ses Verileri (Yerel testte kalacak)
Veri_Egitim/
Veri_Test/
Kayıtlar/

# Türetilmiş Görseller ve Görüntüler (Makine Öğrenmesi Resim Verileri)
Spektrogramlar/
Gorseller/

# Geçici Medya Dosyaları
*.wav
*.mp4
*.mp3
*.ogg

# Runtime Verileri
data/logs/
data/raw/
data/processed/
ciksordb.sqlite

# IDE ve İşletim Sistemi Kalıntıları
.vscode/
.idea/
.DS_Store
Thumbs.db

# Kesilecek/Kırpılmış Sesler (Araç klasörleri)
Kesilecek_Sesler/
Kirpilmis_Sesler/
Donusturulen_Sesler/
Videolar/

# İzin Verilen Dosyalar (Whitelist) - Eğitilmiş Modeller
!models/tavuk_modeli.pkl
!models/tavuk_cnn_modeli.keras
!models/tavuk_edge_model.tflite
